body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 6px solid #9C0D38;
    color: white;
    border-radius: 12px;

    /*
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation: mySlide;
    */

    animation: 3s linear 0s infinite running myColorChange;

    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
    box-shadow: 5px 5px 5px black;
}

@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-left: 100%;}
}

@keyframes myRotate{
    /*100%{transform: rotateX(360deg);}*/
    /*100%{transform: rotateY(360deg);}*/
    100%{transform: rotateZ(360deg);}
}

@keyframes myOpacity{
    50%{opacity: 0;}
}

@keyframes myScale{
    50%{transform: 0.5, 0.5;}
}

@keyframes myColorChange{
    10%{background-color: #03071E;}
    20%{background-color: #370617;}
    30%{background-color: #6A040F;}
    40%{background-color: #9D0208;}
    50%{background-color: #D00000;}
    60%{background-color: #DC2F02;}
    70%{background-color: #E85D04;}
    80%{background-color: #F48C06;}
    90%{background-color: #FAA307;}
    100%{background-color: #FFBA08;}
}